.start-screen {
  padding-bottom: 20px;
}
.start-screen-title {
  position: fixed;
  top: 20px;
  left: 80px;
  display: none;
}
[class*=tile-] {
  transform: scale(0.5);
}
.tiles-group {
  margin-left: 0;
  margin-top: 0px;
}
.start-screen {
  position: absolute;
  top:120px;
  left:485px;
  }

    #clock{
      margin-right:auto; 
      margin-left:auto; 
      margin-top:auto; 
      margin-bottom:auto; 
      position:fixed; 
      top:0px; 
      left:480px;
    }
    #background-layer{
      position:fixed;
      z-index:-10;
      left:-5px;
      top:-5px;
      width: 805px;
      height: 485px;
    }
    #background{
      /*width:800px;
      height:480px;*/
      width: 100%;
      height: 100%;
    }
    #left-side{
      width:480px;
      height:480px;
      position: fixed;
      top:0px;
      left:0px;
      /*border: 1px solid black;*/
      box-sizing: border-box;
    }
    .bg-pick{
        margin-bottom: 20px;
        padding: 0px;}
    .bg-pick img{}
    #bg-picker{
    padding:15px;
    }
#amiibo-gallery{
    padding: 20px 50px;
    height: 100%;
    }
    .amiibo{
      position relative;
      top:0px;
      z-index:90;

      }
